

<div class="container">
  <div class="row">

  <div class="col-md-3"></div>
  <div class="col-md-6">




<h1><%= @auction.name %></h1>
<p><%= @auction.des %></p>
<%= link_to "Volver", auctions_path, class: 'btn btn-link' %>

  <div class="col-md-3"></div> 

</div>
</div>