
<!DOCTYPE html>
<html>
	<head>
	  <title>Home Switch Home</title>
	</head>
	<body>
	

     
    
       <a class="btn btn-primary" href="/residences">Ver Residencias</a>
       <a class="btn btn-primary" href="/auctions">Ver Subastas</a>
       
   
      
	</body>
</html>