

<div class="container">
  <div class="row">

  <div class="col-md-3"></div>
  <div class="col-md-6">


<img src="<%= @residence.location %>" style="max-width:100%;width:auto;height:auto;">

<h1><%= @residence.name %></h1>
<p><%= @residence.des %></p>

<%= link_to "Volver", residences_path, class: 'btn btn-link' %>

  <div class="col-md-3"></div> 

</div>
</div>