  <div class="container">
  <div class="row">

  <div class="col-md-3"></div>
  <div class="col-md-6">


<table class="table">
	<thead>
		<tr>
		
			<th>Residencia ID</th>
			<th>Precio</th>
			<th>Semana</th>
		</tr>
	</thead>
	<tbody>
		<% if user_signed_in? %>
			<tr>
				<% @r = Residence.find(@hotsale.residence_id) %>
       			<td><%=  @r.name  %></td>
				<td>$<%= @hotsale.price %></td>
				<td><%= @hotsale.weekdate %></td>
		
				<td><%=link_to 'Comprar', @hotsale, method: :delete,  class: 'btn btn-danger'%></td>
	<% end %>



	</tbody>
</table>

</div> 
</div> 
  




